/* ----------------------------- general styles ----------------------------- */
/* color and length variables */
/* fonts */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* mixins */
/* -------------------------------------------------------------------------- */
/* General */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Pattaya", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  background-color: #343A40;
  overflow-x: overlay;
  overflow-y: scroll;
}

body .seperator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  margin-top: 15px;
  margin-bottom: -23px;
}

body .seperator .secHeader {
  font-size: 19px;
  line-height: 1.7;
  text-align: left;
  padding-left: 5px;
  color: inherit;
  font-family: 'Pattaya', sans-serif;
  justify-self: flex-start;
  width: 104px;
  height: 30px;
  margin: 0;
  margin-right: 3%;
  border-radius: 0 23px 23px 0;
  font-family: "Pattaya", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 1.5rem;
  color: #f2f2f2;
  background-color: #f2b705;
  padding-left: 0.5em;
}

@media (max-width: 374px) {
  body .seperator .secHeader {
    width: 80px;
    border-radius: 0 15px 15px 0;
    font-size: 1rem;
    line-height: 1.9;
    padding-left: 10px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.pointOnHover:hover {
  cursor: pointer;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-clip: content-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body::-webkit-scrollbar-track-piece {
  display: none;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #7a8793;
}

body::-webkit-scrollbar {
  width: 0.7em;
  background: transparent;
  display: none;
}

.boxShadow-btm-2 {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Frame */
header {
  position: fixed;
  top: 0;
  font-family: 'Pattaya', sans-serif;
  width: 100vw;
}

header nav {
  width: 100vw;
  color: #f2f2f2;
}

header nav .topLeftCorner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1004;
  height: 60px;
  overflow: visible;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px auto;
      grid-template-columns: 30px auto;
  -ms-grid-rows: (30px)[2] auto;
      grid-template-rows: repeat(2, 30px) auto;
      grid-template-areas: "logo logo" "logo logo" "chainL .";
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media (min-width: 992px) {
  header nav .topLeftCorner {
    -webkit-transform: translateY(30px) translateX(30px);
            transform: translateY(30px) translateX(30px);
    -ms-grid-columns: 30px auto auto auto;
        grid-template-columns: 30px auto auto auto;
    -ms-grid-rows: (30px)[3] auto;
        grid-template-rows: repeat(3, 30px) auto;
        grid-template-areas: "cross soc soc soc" "ver logo logo logo" ". logo logo logo" ". chainL . .";
  }
  header nav .topLeftCorner .crossL {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: cross;
  }
  header nav .topLeftCorner .deskSoc {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: soc;
  }
  header nav .topLeftCorner .lVertStrp {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: ver;
  }
  header nav .topLeftCorner .logoBox {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: logo;
  }
  header nav .topLeftCorner .chainL {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: chainL;
  }
}

header nav .topLeftCorner .crossL {
  display: none;
  content: "";
  width: 30px;
  height: 30px;
  background: linear-gradient(45deg, #9c53a6 49.5%, #f2b705 50%);
  display: none;
}

@media (min-width: 992px) {
  header nav .topLeftCorner .crossL {
    display: block;
  }
}

header nav .topLeftCorner .deskSoc {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  border-radius: 0 15px 15px 0;
  display: none;
  background: #57c969;
}

@media (min-width: 992px) {
  header nav .topLeftCorner .deskSoc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header nav .topLeftCorner .deskSoc .horStripL {
  width: 15vw;
  height: 30px;
  background: #f2b705;
  border-radius: 0 15px 15px 0;
}

header nav .topLeftCorner .deskSoc .dskSocUl {
  margin-bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: space-evenly;
}

header nav .topLeftCorner .deskSoc .dskSocUl .socItem {
  -webkit-transform: rotate(90deg) scale(0.7);
          transform: rotate(90deg) scale(0.7);
  line-height: 1;
}

header nav .topLeftCorner .deskSoc .dskSocUl .socItem a img {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

header nav .topLeftCorner .deskSoc .dskSocUl .socItem:hover a img {
  -webkit-filter: invert(52%) sepia(96%) saturate(1179%) hue-rotate(15deg) brightness(118%) contrast(96%);
          filter: invert(52%) sepia(96%) saturate(1179%) hue-rotate(15deg) brightness(118%) contrast(96%);
}

header nav .topLeftCorner .lVertStrp {
  display: none;
  height: 15vh;
  border-radius: 0 0 15px 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9c53a6), color-stop(60%, #9c53a6), to(#17A2B8));
  background-image: linear-gradient(180deg, #9c53a6 0%, #9c53a6 60%, #17A2B8 100%);
  display: none;
}

@media (min-width: 992px) {
  header nav .topLeftCorner .lVertStrp {
    display: block;
  }
}

header nav .topLeftCorner .logoBox {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: logo;
  z-index: 1003;
  width: 188px;
  height: 60px;
  background-color: #E4002B;
  border-radius: 0 30px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

header nav .topLeftCorner .logoBox .logo {
  width: 170px;
}

header nav .topLeftCorner .logoBox .chainHrzntl {
  display: none;
  display: none;
}

@media (min-width: 992px) {
  header nav .topLeftCorner .logoBox .chainHrzntl {
    display: block;
  }
}

header nav .topLeftCorner .chainL {
  width: 30px;
  z-index: 1004;
  height: 150px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: chainL;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
  z-index: 1002;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

header nav .topLeftCorner .chainL .chainObject {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

header nav .topLeftCorner .chainL .chainOb1 {
  background-color: #76bf2c;
}

header nav .topLeftCorner .chainL .chainOb2 {
  background-color: #17A2B8;
}

header nav .topLeftCorner .chainL .chainOb3 {
  background-color: #f2b705;
}

header nav .topLeftCorner .chainL .chainOb4 {
  background-color: #e4002b;
}

header nav .topLeftCorner .chainL .chainOb5 {
  background-color: #3AB34D;
}

header nav .topLeftCorner .chainL .chainOb6 {
  background-color: #9c53a6;
}

header nav .topLeftCorner.notCollapsed {
  height: 60px;
}

header nav .topLeftCorner.notCollapsed .chainL {
  -webkit-transform: translateX(-30px) translateY(-45px);
          transform: translateX(-30px) translateY(-45px);
}

header nav .topLeftCorner.notScrolled .logoBox {
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

header nav .topLeftCorner.isScrolled .chainL {
  -webkit-transform: translateX(-30px) translateY(-45px);
          transform: translateX(-30px) translateY(-45px);
}

@media (min-width: 992px) {
  header nav .topLeftCorner.isScrolled {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  header nav .topLeftCorner.isScrolled .chainL {
    -webkit-transform: translateX(0) translateY(-45px);
            transform: translateX(0) translateY(-45px);
  }
}

header nav .topRightCorner {
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  overflow: visible;
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-grid-columns: auto 30px;
      grid-template-columns: auto 30px;
  -ms-grid-rows: 30px 68px auto;
      grid-template-rows: 30px 68px auto;
      grid-template-areas: "lnSel cross" "ham chainR" ". chainR";
}

header nav .topRightCorner .triviaDiv {
  z-index: 1005;
  border-radius: 15px 0 0 15px;
  background-color: #f2b705;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lnSel;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header nav .topRightCorner .triviaDiv .rCnrFllStrp {
  width: 25.35vw;
  height: 30px;
  background-color: #fff;
  border-radius: 15px 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #4cd3e9;
}

header nav .topRightCorner .triviaDiv .rCnrFllStrp .secStrip {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px 0 0 15px;
}

header nav .topRightCorner .triviaDiv .rCnrFllStrp .secStrip #triviaActivate {
  height: 30px;
  width: 76px;
  border: none;
  font-family: inherit;
  font-size: 1.4em;
  color: inherit;
  line-height: 1;
  padding-left: 15px;
  height: 30px;
  border-radius: 15px 0 0 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#e4002b), to(#f2b705));
  background-image: linear-gradient(to right, #e4002b, #f2b705);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header nav .topRightCorner .triviaDiv .rCnrFllStrp .secStrip #triviaActivate:hover {
  color: #9c53a6;
  text-shadow: 0 0 8px #fff;
}

header nav .topRightCorner .triviaDiv .rCnrFllStrp .secStrip #triviaActivate a {
  display: inline-block;
  font-size: 1em;
  line-height: 1.3;
}

@media (min-width: 992px) {
  header nav .topRightCorner .triviaDiv {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: lnSel;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header nav .topRightCorner .triviaDiv .rCnrFllStrp .secStrip {
    width: 12vw;
    height: 30px;
    border-radius: 15px 0 0 15px;
    background-color: #fcd561;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

header nav .topRightCorner .crossR {
  z-index: 1004;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cross;
  content: "";
  width: 30px;
  height: 30px;
  background: linear-gradient(-45deg, #9c53a6 49.5%, #f2b705 50%);
}

header nav .topRightCorner .chainR {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: chainR;
  width: 30px;
  z-index: 1004;
  z-index: 1004;
  min-height: 90px;
  height: 20vh;
}

header nav .topRightCorner .chainR .chainObject {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

header nav .topRightCorner .chainR .chainStripR {
  height: 5vh;
  border-radius: 0 0 15px 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9c53a6), color-stop(60%, #9c53a6), to(#3AB34D));
  background-image: linear-gradient(180deg, #9c53a6 0%, #9c53a6 60%, #3AB34D 100%);
}

header nav .topRightCorner .chainR .chainOb1 {
  background-color: #f2b705;
}

header nav .topRightCorner .chainR .chainOb2 {
  background-color: #3AB34D;
}

header nav .topRightCorner .chainR .chainOb3 {
  background-color: #e4002b;
}

header nav .topRightCorner .chainR .chainOb4 {
  background-color: #17A2B8;
}

header nav .topRightCorner .menuMob {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ham;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .topRightCorner .menuMob .dropDownMenu {
  position: absolute;
  right: -100vw;
  top: 0;
  z-index: 1003;
  width: 100vw;
  height: 100vh;
  background-color: #343A40;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 0;
  overflow: hidden;
}

header nav .topRightCorner .menuMob .dropDownMenu .mobNavUL {
  margin-left: 30px;
  margin-top: 90px;
  z-index: 1001;
}

header nav .topRightCorner .menuMob .dropDownMenu .mobNavUL .mobNavLI {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 19px;
  line-height: 1.7;
  text-align: left;
  padding-left: 15px;
  color: inherit;
  font-family: inherit;
  font-size: 1.8rem;
  text-align-last: left;
  margin-bottom: 15px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

header nav .topRightCorner .menuMob .dropDownMenu .mobNavUL .mobNavLI:hover, header nav .topRightCorner .menuMob .dropDownMenu .mobNavUL .mobNavLI:focus {
  color: #f2b705;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  padding-left: 15px;
  cursor: pointer;
}

@media (min-width: 576px) {
  header nav .topRightCorner .menuMob .dropDownMenu .mobNavUL {
    margin-left: 0;
    margin-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .topRightCorner .menuMob .dropDownMenu .mobNavUL .mobNavLI {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (min-height: 500px) {
  header nav .topRightCorner .menuMob .dropDownMenu .mobNavUL {
    margin-left: 30px;
    margin-top: 90px;
    display: block;
  }
  header nav .topRightCorner .menuMob .dropDownMenu .mobNavUL .mobNavLI {
    font-size: 3rem;
  }
}

header nav .topRightCorner .menuMob .dropDownMenu .dDownfooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #343A40;
  z-index: 1004;
  margin: 0;
  padding: 0;
  height: 60px;
}

header nav .topRightCorner .menuMob .dropDownMenu .dDownfooter .social {
  height: 60px;
  width: 272px;
  background-color: #e4002b;
  border-radius: 30px 30px 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: space-evenly;
}

header nav .topRightCorner .menuMob .dropDownMenu .dDownfooter .social .socItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header nav .topRightCorner .menuMob .dropDownMenu .dDownfooter .social .socItem a {
  line-height: 1;
}

header nav .topRightCorner .menuMob .dropDownMenu .dDownfooter .social .socItem a img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header nav .topRightCorner .menuMob .dropDownMenu .dDownfooter .social .socItem a img:hover, header nav .topRightCorner .menuMob .dropDownMenu .dDownfooter .social .socItem a img:focus {
  color: #f2b705;
}

@media (max-width: 374px) {
  header nav .topRightCorner .menuMob .dropDownMenu {
    position: fixed;
    top: 0;
  }
}

header nav .topRightCorner .menuMob .ham {
  position: relative;
  z-index: 1004;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 76px;
  height: 52px;
  background-color: #3AB34D;
  border-radius: 26px 0 26px 26px;
}

header nav .topRightCorner .menuMob .ham .hamLine {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header nav .topRightCorner .menuMob .hamCollapsed + .dropDownMenu {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

header nav .topRightCorner .menuMob .hamShown .hamSvg #Line_2 {
  -webkit-transform: translateY(27px) translateX(8px) rotate(-45deg);
          transform: translateY(27px) translateX(8px) rotate(-45deg);
  -webkit-transform-origin: -20 px;
          transform-origin: -20 px;
}

header nav .topRightCorner .menuMob .hamShown .hamSvg #Line_1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
}

header nav .topRightCorner .menuMob .hamShown .hamSvg #Line_3 {
  -webkit-transform: translateY(-9px) translateX(3px) rotate(45deg);
          transform: translateY(-9px) translateX(3px) rotate(45deg);
  -webkit-transform-origin: -15px;
          transform-origin: -15px;
}

header nav .topRightCorner .menuMob .hamShown + .dropDownMenu {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

header nav .topRightCorner .dskNavUL {
  display: none;
  justify-self: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 60px;
}

header nav .topRightCorner .dskNavUL .dskNavLI {
  background-color: #3AB34D;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  line-height: 3.2;
  min-width: 70px;
  height: 60px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

header nav .topRightCorner .dskNavUL .dskNavLI a {
  font-size: 1.2rem;
}

header nav .topRightCorner .dskNavUL .dskNavLI:hover {
  cursor: pointer;
  color: #fcd561;
  text-shadow: 0 0 5px rgba(242, 183, 5, 0);
}

header nav .topRightCorner .dskNavUL .first {
  display: block;
  content: "";
  height: 60px;
  border-radius: 30px 0 0 30px;
  width: 30px;
  background-color: #3AB34D;
}

header nav .topRightCorner .dskNavUL .last {
  display: block;
  height: 60px;
  border-radius: 0 0 30px 0;
  content: "";
  width: 30px;
  background-color: #3AB34D;
}

@media (max-width: 374px) {
  header nav .topRightCorner {
    position: fixed;
    right: -30px;
    top: 0;
  }
}

@media (min-width: 992px) {
  header nav .topRightCorner {
    -webkit-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px);
    -ms-grid-columns: auto 30px;
        grid-template-columns: auto 30px;
    -ms-grid-rows: 30px auto auto;
        grid-template-rows: 30px auto auto;
        grid-template-areas: " lnSel cross" " ham chainR" ". chainR";
  }
  header nav .topRightCorner .triviaDiv {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: lnSel;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  header nav .topRightCorner .crossR {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: cross;
  }
  header nav .topRightCorner .chainStripR {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: chainR;
  }
  header nav .topRightCorner .menuMob {
    display: none;
  }
  header nav .topRightCorner .dskNavUL {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: ham;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (max-width: 374px) {
  div.topRightCorner.isScrolled.isCollapsed {
    height: 90px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  div.topRightCorner.isScrolled.isCollapsed .menuMob .hamShown + .dropDownMenu {
    -webkit-transform: translateX(calc(-100vw - 30px));
            transform: translateX(calc(-100vw - 30px));
  }
}

@media (min-width: 375px) {
  div.topRightCorner.isScrolled.isCollapsed {
    height: 90px;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  div.topRightCorner.isScrolled.isCollapsed .menuMob .hamShown + .dropDownMenu {
    -webkit-transform: translateX(calc(-100vw - 30px));
            transform: translateX(calc(-100vw - 30px));
  }
}

@media (min-width: 992px) {
  div.topRightCorner.isScrolled.isCollapsed {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

div.topRightCorner.isScrolled.notCollapsed {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  /*    @include smDskBP {
      transform: translateX(0);
    } */
}

.content {
  position: relative;
  width: 100vw;
  color: #f2f2f2;
  overflow: shown;
  min-height: calc(90vh);
}

@media (min-width: 1200px) {
  .content {
    margin: 0 auto;
  }
}

.footerMobile {
  width: 100vw;
  height: 1vh;
  position: static;
  bottom: 0;
  margin-top: 15px;
}

.footerMobile .socialDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "follow . soc";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(242, 242, 242, 0.4);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(242, 242, 242, 0.4)), color-stop(50%, rgba(242, 183, 5, 0)));
  background: linear-gradient(0deg, rgba(242, 242, 242, 0.4) 50%, rgba(242, 183, 5, 0) 50%);
}

@media (min-width: 992px) {
  .footerMobile .socialDiv {
    display: none;
  }
}

.footerMobile .socialDiv * {
  display: block;
}

.footerMobile .socialDiv h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: follow;
  font-size: 19px;
  line-height: 1.7;
  text-align: left;
  padding-left: 5px;
  color: inherit;
  font-family: 'Pattaya', sans-serif;
  justify-self: flex-start;
  width: 128px;
  height: 46px;
  margin: 0;
  margin-right: 3%;
  border-radius: 0 23px 23px 0;
  font-family: 'Pattaya', sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  color: #f2f2f2;
  background-color: #f2b705;
}

@media (max-width: 374px) {
  .footerMobile .socialDiv h3 {
    width: 80px;
    height: 30px;
    border-radius: 0 15px 15px 0;
    font-size: 1rem;
    line-height: 1.9;
    padding-left: 2px;
  }
}

.footerMobile .socialDiv h3 svg {
  width: 0.3em;
  display: inline-block;
}

.footerMobile .socialDiv .socContain {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: soc;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  margin-bottom: 0;
}

.footerMobile .socialDiv .socContain li {
  margin-left: 3%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footerMobile .socialDiv .socContain li:last-Child {
  margin-right: 3%;
}

.footerMobile .socialDiv .socContain li a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footerMobile .socialDiv .socContain li a img {
  display: inline;
}

@media (max-width: 374px) {
  .footerMobile .socialDiv .socContain li a img {
    width: 30px;
  }
}

.footerMobile .footerBox {
  background-color: rgba(242, 242, 242, 0.4);
  position: relative;
  bottom: 0;
  z-index: -1;
  width: 100vw;
  min-height: 1vh;
  height: calc(100% - $calibMd);
  padding-top: 11.5px;
  padding-bottom: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerMobile .footerBox .disclaimer {
  text-align: center;
  line-height: 1.5;
  font-size: 0.6rem;
}

@media (min-width: 992px) {
  .footerMobile .footerBox {
    height: 6vh;
  }
  .footerMobile .footerBox .disclaimer {
    line-height: 0.5;
    font-size: 1em;
  }
}

@media (min-width: 992px) {
  .footerMobile {
    margin-top: 30px;
  }
}

/* Timer */
.countOff {
  z-index: -1;
  position: relative;
  width: calc(100vw - 60px);
  height: 40vh;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: url("images/gallery/SkullMup(1).jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 0.2rem;
  overflow: hidden;
}

.countOff .timer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 120px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas: "head head head head " "d h m s";
  padding-left: 12px;
  padding-right: 12px;
  background-color: #9c53a6;
  -webkit-box-shadow: 0 0px 50px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0px 50px rgba(0, 0, 0, 0.8);
}

.countOff .timer strong {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: head;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.countOff .timer .timrInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.countOff .timer .timrInput .value {
  width: 64px;
  height: 36px;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.countOff .timer .timrInput span {
  display: block;
  font-weight: 500;
}

.countOff .timer .days {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: d;
}

.countOff .timer .hours {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: h;
}

.countOff .timer .mins {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: m;
}

.countOff .timer .secs {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: s;
}

@media (max-width: 374px) {
  .countOff {
    margin-top: 75px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .countOff .timer {
    width: calc(100vw - 60px);
    height: calc($timWdthSm * 20 / 9);
  }
  .countOff .timer strong {
    font-size: 1rem;
  }
  .countOff .timer .timrInput .value {
    width: 48px;
    height: 27px;
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .countOff {
    height: calc(95vh - 30px);
    background-size: fill;
    background-position: center;
  }
  .countOff .timer {
    width: 315px;
    margin-bottom: 5vh;
    border-radius: 0.5rem;
  }
}

@media (min-width: 768px) and (min-height: 500px) {
  .countOff {
    height: 50vh;
  }
}

@media (min-width: 992px) {
  .countOff {
    width: 70vw;
    margin-top: 60px;
    border-radius: 1rem;
  }
  .countOff .timer {
    width: 500px;
    height: 225px;
    margin-bottom: auto;
    margin-top: 10vh;
  }
  .countOff .timer strong {
    font-size: 2.3rem;
  }
  .countOff .timer .timrInput .value {
    width: 112px;
    height: 63px;
  }
  .countOff .timer .timrInput span {
    font-size: 1.8rem;
    line-height: 1.7;
  }
}

/* ---------------------------------- index --------------------------------- */
/* gallery */
.galSection.contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.galSection.contain .seperator {
  position: relative;
}

.galSection.contain .gallery {
  overflow: shown;
}

.galSection.contain .gallery .flickity-page-dots {
  bottom: 0px;
}

.galSection.contain .gallery .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.galSection.contain .gallery .flickity-page-dots .dot.is-selected {
  background: white;
}

.galSection.contain .gallery .gallery-cell {
  width: 90vw;
  counter-increment: gallery-cell;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  overflow-y: hidden;
}

.galSection.contain .gallery .gallery-cell img {
  width: inherit;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, filter 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, filter 0.4s ease-in-out, box-shadow 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
  border-radius: 1rem;
}

.galSection.contain .gallery .gallery-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

.galSection.contain .gallery .gallery-cell .crslCaption {
  width: 60%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: absolute;
  top: 75%;
  margin: 0 auto;
  padding-top: 8px;
}

.galSection.contain .gallery .gallery-cell .crslCaption p {
  text-align: center;
}

.galSection.contain .gallery .gallery-cell .crslCaption p a {
  -webkit-text-decoration: blue;
          text-decoration: blue;
}

@media (max-width: 374px) {
  .galSection.contain .gallery .gallery-cell {
    height: 170px;
  }
}

@media (min-width: 375px) {
  .galSection.contain .gallery {
    height: calc(90vw * 2 / 3);
  }
}

@media (min-width: 576px) {
  .galSection.contain .gallery {
    height: 100vh;
  }
  .galSection.contain .gallery .gallery-cell {
    width: calc(100vh * 3 / 2);
  }
}

@media (min-width: 768px) and (min-height: 500px) {
  .galSection.contain .gallery {
    width: 100vw;
    height: 500px;
    position: relative;
    margin: 0 auto;
  }
  .galSection.contain .gallery .gallery-cell {
    width: calc(500px * 3 / 2);
  }
  .galSection.contain .gallery .gallery-cell .crslCaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .galSection.contain .gallery {
    width: 100%;
    height: 680px;
    overflow: shown;
  }
  .galSection.contain .gallery .gallery-cell {
    width: calc(680px * 3 / 2);
  }
}

/* .gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  // background: #8C8;
  counter-increment: gallery-cell;
}
 */
/* sponsors */
.sponsorSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.sponsorSection .seperator {
  position: relative;
}

.sponsorSection .sponsorContain {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.7rem;
}

.sponsorSection .sponsorContain .card {
  width: 11rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.sponsorSection .sponsorContain .card:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 3px 4px #000;
          box-shadow: 0 3px 4px #000;
}

.sponsorSection .sponsorContain .card .cardImg {
  height: calc(11rem * 2 / 3);
}

.sponsorSection .sponsorContain .card ul.list-group {
  font-size: 0.8rem;
  display: none;
}

.sponsorSection .lgCards {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.sponsorSection .lgCards.displayed {
  display: block;
}

.sponsorSection .lgCards.displayed .card.displayed {
  opacity: 1;
}

.sponsorSection .lgCards .card {
  position: absolute;
  margin-top: 12vh;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sponsorSection .lgCards .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsorSection .lgCards .card .card-body .buttonLabel {
  text-align: center;
}

.sponsorSection .lgCards .card .card-body p {
  display: none;
}

.sponsorSection .lgCards .card .card-body .label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
}

.sponsorSection .lgCards .card .escRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #a6a6a6;
  border-bottom: 1px solid #343A40;
}

.sponsorSection .lgCards .card .escRow .escElement img {
  display: block;
  width: 30px;
  height: 30px;
}

.sponsorSection .lgCards .card .escRow .escElement img:hover {
  cursor: pointer;
}

@media (max-width: 374px) {
  .sponsorSection .lgCards .card {
    width: 14rem;
    font-size: 0.8rem;
    margin-left: calc((100vw - 14rem) / 2);
  }
  .sponsorSection .sponsorContain .card {
    width: 8rem;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .sponsorSection .sponsorContain .card .cardImg {
    height: calc(8rem * 2 / 3);
  }
  .sponsorSection .sponsorContain .card .card-body.card-header .card-text {
    display: none;
  }
  .sponsorSection .sponsorContain .card .card-body.card-header {
    display: block;
    margin: 0;
    padding: 0;
    height: 0;
  }
  .sponsorSection .sponsorContain .card .card-body.card-header .card-title {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
  }
  .sponsorSection .sponsorContain .card .card-body {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 375px) and (max-width: 576px) {
  .sponsorSection .sponsorContain .card {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .sponsorSection .sponsorContain .card .card-body {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sponsorSection .sponsorContain .card .card-body.card-header {
    display: block;
    margin: 0;
    padding: 0;
    height: 0;
  }
  .sponsorSection .sponsorContain .card .card-body.card-header .card-title {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .sponsorSection .sponsorContain .card .card-body.card-header .card-text {
    display: none;
  }
  .sponsorSection .lgCards .card {
    width: 18rem;
    margin-left: calc((100vw - 18rem) / 2);
  }
  .sponsorSection .lgCards .card .cardImg {
    height: calc(18rem * 2 / 3);
  }
}

@media (min-width: 576px) {
  .sponsorSection .sponsorContain {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
  }
  .sponsorSection .sponsorContain .card {
    width: 15rem;
    color: var(--primary);
  }
  .sponsorSection .sponsorContain .card .cardImg {
    height: calc(15rem * 2 / 3);
  }
  .sponsorSection .sponsorContain .card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sponsorSection .sponsorContain .card .card-body.card-header {
    margin: 0;
    padding: 0;
    height: 0;
  }
  .sponsorSection .sponsorContain .card .card-body.card-header .card-title {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 104px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f2f2f2;
  }
  .sponsorSection .sponsorContain .card .card-body.card-header .card-text {
    display: none;
  }
  .sponsorSection .lgCards {
    display: none;
  }
}

@media (min-width: 768px) and (min-height: 500px) {
  .sponsorSection .sponsorContain {
    grid-gap: 0.7rem;
  }
  .sponsorSection .sponsorContain .card .card-body.card-header {
    margin: default;
    padding: 0.75rem 1.25rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #fff;
  }
  .sponsorSection .sponsorContain .card .card-body.card-header .card-title {
    margin-bottom: 0.75rem;
    position: relative;
    bottom: 0;
    background-color: #fff;
    color: var(--dark);
  }
  .sponsorSection .sponsorContain .card .card-body.card-header .card-text {
    display: block;
    background-color: #fff;
    font-size: 1rem;
    text-align: justify;
  }
  .sponsorSection .sponsorContain .card ul.list-group {
    font-size: 1rem;
    display: block;
  }
}

@media (min-width: 992px) {
  .sponsorSection .sponsorContain {
    grid-gap: 1.5rem;
  }
  .sponsorSection .sponsorContain .card {
    width: 18rem;
  }
  .sponsorSection .sponsorContain .card .card-header .card-title {
    text-align: center;
  }
  .sponsorSection .sponsorContain .card .cardImg .cardImg {
    height: calc(18rem * 2 / 3);
  }
}

@media (min-width: 1200px) {
  .sponsorSection .sponsorContain {
    grid-gap: 2rem;
  }
}

/* ---------------------------------- about --------------------------------- */
#about .seperator {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 12px;
  margin-bottom: 0;
}

#about .seperator .secHeader {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 0 15px 15px 15px;
}

#about .seperator .horChain {
  overflow: hidden;
}

#about .seperator#innerSep {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 2px 0;
}

#about .seperator#innerSep .horChain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#about .seperator#innerSep .fChain {
  display: none;
}

#about .seperator#sepMayor .horChain {
  display: none;
}

#about p {
  padding-left: 15px;
  padding-right: 15px;
}

#about p img#mayor {
  width: 25vw;
  margin-left: 12px;
  margin-top: -30px;
  margin-bottom: 24px;
  float: right;
}

@media (max-width: 374px) {
  #about img#mayor {
    width: 100%;
  }
  #about .seperator .horChain {
    width: 136px;
  }
}

@media (min-width: 375px) {
  #about .horChain {
    width: 170px;
  }
}

@media (min-width: 576px) {
  #about .seperator .horChain {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #about .seperator#innerSep {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about .seperator#innerSep .fChain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (min-height: 500px) {
  #about .seperator#sepMayor .horChain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #about p img#mayor {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  #about {
    font-size: 1.32rem;
  }
  #about p img#mayor {
    width: 16vw;
  }
}

/* ---------------------------------- media --------------------------------- */
.gal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.gal .galleryPicsSm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40vw)[2];
      grid-template-columns: repeat(2, 40vw);
  -ms-grid-rows: (40vw)[6];
      grid-template-rows: repeat(6, 40vw);
  grid-gap: 5vw;
  margin: 0 7.5vw;
}

.gal .galleryPicsSm .galItem {
  display: block;
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  border-radius: 2vw;
  -webkit-box-shadow: 0 0.25vw 0.5vw #000;
          box-shadow: 0 0.25vw 0.5vw #000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.gal .galleryPicsSm .galItem:hover {
  -webkit-box-shadow: 0 0.5vw 1vw #000;
          box-shadow: 0 0.5vw 1vw #000;
  cursor: pointer;
}

.gal .galleryPicsSm .galItem img {
  height: inherit;
}

@media (min-width: 576px) {
  .gal .galleryPicsSm {
    -ms-grid-columns: (30vw)[3];
        grid-template-columns: repeat(3, 30vw);
    -ms-grid-rows: (30vw)[4];
        grid-template-rows: repeat(4, 30vw);
    grid-gap: 2.5vw;
    margin: 0 1.67vw;
  }
  .gal .galleryPicsSm .galItem {
    width: 30vw;
    height: 30vw;
  }
}

@media (min-width: 992px) {
  .gal .galleryPicsSm {
    -ms-grid-columns: (22.3vw)[4];
        grid-template-columns: repeat(4, 22.3vw);
    -ms-grid-rows: (22.3vw)[3];
        grid-template-rows: repeat(3, 22.3vw);
    grid-gap: 2vw;
    margin: 0 2vw;
  }
  .gal .galleryPicsSm .galItem {
    width: 22.3vw;
    height: 22.3vw;
  }
}

.gal .galleryPicsLg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.gal .galleryPicsLg .galItemLg {
  position: absolute;
  top: 0;
  margin: 30vh 2.5vw;
  width: 95vw;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.gal .galleryPicsLg .galItemLg .escRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-bottom: 1px solid #343A40;
}

.gal .galleryPicsLg .galItemLg .escRow .escElement img {
  display: block;
  width: 30px;
  height: 30px;
}

.gal .galleryPicsLg .galItemLg .escRow .escElement img:hover {
  cursor: pointer;
}

.gal .galleryPicsLg .galItemLg img {
  width: inherit;
}

.gal .galleryPicsLg .galItemLg .crslCaption {
  width: 60%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: absolute;
  top: 75%;
  margin: 0 auto;
  padding-top: 8px;
}

.gal .galleryPicsLg .galItemLg .crslCaption p {
  text-align: center;
}

.gal .galleryPicsLg .galItemLg .crslCaption p a {
  -webkit-text-decoration: blue;
          text-decoration: blue;
}

@media (min-width: 576px) {
  .gal .galleryPicsLg {
    -ms-grid-columns: (30vw)[3];
        grid-template-columns: repeat(3, 30vw);
    -ms-grid-rows: (30vw)[4];
        grid-template-rows: repeat(4, 30vw);
    grid-gap: 2.5vw;
    margin: 0 1.67vw;
  }
  .gal .galleryPicsLg .galItem {
    width: 30vw;
    height: 30vw;
  }
}

@media (min-width: 992px) {
  .gal .galleryPicsLg {
    -ms-grid-columns: (22.3vw)[4];
        grid-template-columns: repeat(4, 22.3vw);
    -ms-grid-rows: (22.3vw)[3];
        grid-template-rows: repeat(3, 22.3vw);
    grid-gap: 2vw;
    margin: 0 2vw;
  }
  .gal .galleryPicsLg .galItem {
    width: 22.3vw;
    height: 22.3vw;
  }
}

.gal .galleryPicsLg.displayed {
  display: block;
}

.gal .galleryPicsLg.displayed .galItemLg.displayed {
  opacity: 1;
}

.gal #vidSep {
  z-index: 0;
}

.gal .smVids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gal .smVids .galItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gal .smVids .galItem iframe {
  height: 40vw;
  width: inherit;
}

@media (max-width: 374px) {
  .gal .smVids .galItem iframe {
    height: 20vh;
  }
}

@media (min-width: 576px) {
  .gal .smVids {
    padding: 0 15px;
    width: calc(100vw - $calibSm);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-grid-columns: (46vw)[2];
        grid-template-columns: repeat(2, 46vw);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 3vw;
  }
  .gal .smVids .galItem {
    margin: 0;
    width: 46vw;
    height: calc(46vw * 9 / 16);
  }
  .gal .smVids .galItem iframe {
    width: 46vw;
    height: auto;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .gal .smVids {
    -ms-grid-columns: (30vw)[3];
        grid-template-columns: repeat(3, 30vw);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 3vw;
  }
  .gal .smVids .galItem {
    width: 30vw;
    height: calc(30vw * 9 / 16);
  }
  .gal .smVids .galItem iframe {
    width: 30vw;
    height: calc(30vw * 9 / 16);
    margin: 0;
  }
  .gal .smVids .galItem:last-child {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / auto / span 1;
  }
}

@media (min-width: 1200px) {
  .gal .smVids {
    -ms-grid-columns: (22vw)[4];
        grid-template-columns: repeat(4, 22vw);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 3vw;
  }
  .gal .smVids .galItem {
    width: 22vw;
    height: calc(22vw * 9 / 16);
  }
  .gal .smVids .galItem iframe {
    width: 22vw;
    height: calc(22vw * 9 / 16);
    margin: 0;
  }
  .gal .smVids .galItem:last-child {
    grid-area: auto;
  }
}

/* ----------------------------------- faq ---------------------------------- */
#faqSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#faqSec .accordion .card-body {
  color: var(--secondary);
}

#faqSec .seperator .secHeader {
  width: 284px;
  z-index: 0;
}

@media (max-width: 374px) {
  #faqSec .seperator .secHeader {
    width: 193px;
  }
}

/* --------------------------------- contact -------------------------------- */
#contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#contactInfo .seperator .secHeader {
  width: 132px;
  z-index: 0;
}

@media (max-width: 374px) {
  #contactInfo .seperator .secHeader {
    width: 96px;
  }
}

/* --------------------------------- trivia --------------------------------- */
#quiz {
  font-family: Roboto;
  color: var(--dark);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}

#quiz .escRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: show;
  width: 100vw;
  height: 0;
  position: fixed;
  top: 0;
}

#quiz .escRow .escElement {
  margin-top: 4px;
  margin-right: 4px;
}

#quiz .escRow .escElement img {
  display: block;
  width: 30px;
  height: 30px;
}

#quiz .escRow .escElement img:hover {
  cursor: pointer;
}

#quiz.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#quiz.inactive {
  display: none;
}

#quiz #quizCard {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

#quiz #resultsContain {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  #quiz .escRow {
    width: 50vw;
    right: 25vw;
  }
  #quiz .escRow .escElement {
    margin-top: 16px;
  }
  #quiz #quizCard {
    height: calc(100vh - 24px);
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

@media (min-width: 768px) and (min-height: 500px) {
  #quiz .escRow {
    width: 50vw;
    right: 25vw;
  }
  #quiz .escRow .escElement {
    margin-top: 3.3vh;
  }
  #quiz #quizCard {
    height: 94vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}

@media (min-width: 992px) {
  #quiz .escRow {
    width: 42.67vw;
    right: 29.2vw;
  }
  #quiz .escRow .escElement {
    margin-top: 6.5vh;
  }
  #quiz #quizCard {
    height: 88vh;
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
}

@media (min-width: 1200px) {
  #quiz .escRow {
    width: 30vw;
    right: 33.5vw;
  }
  #quiz .escRow .escElement {
    margin-top: 6.5vh;
  }
}
/*# sourceMappingURL=main.css.map */