@include smBP {
  grid-template-columns: repeat(3, 30vw);
  grid-template-rows: repeat(4, 30vw);
  grid-gap: 2.5vw;
  margin: 0 1.67vw;
  .galItem {
    width: 30vw;
    height: 30vw;
  }
}

@include smDskBP {
  grid-template-columns: repeat(4, 22.3vw);
  grid-template-rows: repeat(3, 22.3vw);
  grid-gap: 2vw;
  margin: 0 2vw;
  
  .galItem {
    width: 22.3vw;
    height: 22.3vw;
  }
}
@include lgDskBP {
}
