#about {
  .seperator {
    height: fit-content;
    margin-top: 12px;
    margin-bottom: 0;
    .secHeader {
      width: fit-content;
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 0 $radiusSm $radiusSm $radiusSm;
    }
    .horChain {
      overflow: hidden;
    }
    &#innerSep {
      width: 100vw;
      display: flex;
      justify-content: flex-end;
      margin: 2px 0;
      .horChain {
        display: flex;
        width: fit-content;
      }
      .fChain {
        display: none;
      }
    }
    &#sepMayor {
      .horChain {
        display: none;
      }
    }
  }

  p {
    padding: {
      left: $radiusSm;
      right: $radiusSm;
    }
    text-align: justify;
    img {
      margin-bottom: 0;
      &#mayor {
        width: 50vw;
        margin-left: 12px;
        margin-top: -$calibSm;
        float: right;
      }
      &#masks {
        width: 60vw;
        margin-right: 12px;
        float: left;
      }
    }
  }

  @import "aboutQueries";
}
