@include xxsBP {
  .seperator {
    .horChain {
      width: 136px;
    }
  }
}

@include xsBP {
  .horChain {
    width: 170px;
  }
}
@include smBP {
  .seperator {
    .horChain {
      width: fit-content;
    }
    &#innerSep {
      justify-content: space-between;
      .fChain {
        display: flex;
      }
    }
  }
  p {
    img#masks {
      width: 40vw;
    }
    img#mayor {
      width: 25vw;
    }
  }
}
@include tbBP {
  .seperator#sepMayor {
    .horChain {
      display: flex;
    }
  }
  p {
    img#mayor {
      margin-top: 0;
    }
  }
}
@include smDskBP {
  font-size: 1.32rem;
  p {
    img#mayor {
      width: 20vw;
    }
    img#masks {
      width: 40vw;
    }
  }
}

@include lgDskBP{
  p img#masks{
    width: 40vw;
  }
}
