#faqSec {
  display: flex;
  flex-direction: column-reverse;

  .accordion {
    .card-body {
      color: var(--secondary);
    }
  }

  .seperator {
    .secHeader {
      width: 284px;
      z-index: 0;
      @include xxsBP {
        width: 193px;
      }
    }
  }
}
